<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-row text-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="blog-post.html"><img src="view/lib/img/post-1.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a>Travel</a>
                                </div>
                                <h3 class="post-title"><a href="#/articles/detail/1">A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam</a></h3>
                                <ul class="post-meta">
                                    <li><a>John Doe</a></li>
                                    <li>20 April 2018</li>
                                </ul>
                                <div>
                                    <label class="label label-primary"><i class="fa fa-pencil"></i> Edit</label>
                                    <label class="label label-danger"><i class="fa fa-trash"></i> Delete</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="blog-post.html"><img src="view/lib/img/post-2.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a>Technology</a>
                                    <a>Lifestyle</a>
                                </div>
                                <h3 class="post-title"><a href="#/admin/articles/detail/1">A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam</a></h3>
                                <ul class="post-meta">
                                    <li><a>John Doe</a></li>
                                    <li>20 April 2018</li>
                                </ul>
                                <div>
                                    <label class="label label-primary"><i class="fa fa-pencil"></i> Edit</label>
                                    <label class="label label-danger"><i class="fa fa-trash"></i> Delete</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix visible-md visible-lg"></div>

                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="blog-post.html"><img src="view/lib/img/post-4.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Health</a>
                                </div>
                                <h3 class="post-title"><a href="#/admin/articles/detail/1">A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam</a></h3>
                                <ul class="post-meta">
                                    <li><a>John Doe</a></li>
                                    <li>20 April 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="blog-post.html"><img src="view/lib/img/post-7.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Health</a>
                                    <a href="category.html">Lifestyle</a>
                                </div>
                                <h3 class="post-title"><a href="#/admin/articles/detail/1">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
                                <ul class="post-meta">
                                    <li><a>John Doe</a></li>
                                    <li>20 April 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>