<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-6">
      <h4><i class="fa fa-book" aria-hidden="true"></i> Kings</h4>
    </div>
    <div class="col-sm-6">
      <small class="pull-right">Results 1 – 20 of 33,061</small>
    </div>
  </div>
</div>
<div class="col-sm-12">

  <div *ngFor="let pedia of pediaList">
    <div><a routerLink="/pedia/detail">{{pedia.title}}</a></div>
    <p [innerHTML]="pedia.content" class="truncate"></p>
    <p><small>Last Updated: {{pedia.createdAt.nanoseconds | date: 'MMM d, yyyy, h:mm:ss a'}} - by
        {{pedia.createdBy}}</small></p>
  </div>

  <div>
    <nav aria-label="Page navigation example ">
      <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
