<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-6">
      <h4><i class="fa fa-book" aria-hidden="true"></i> Kings</h4>
    </div>
    <div class="col-sm-6">
      <small class="pull-right">Results 1 – 20 of 33,061</small>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div>
    <div><a routerLink="/pedia/detail">Express Raja</a></div>
    <div>
      Express Raja is a 2016 Indian Telugu-language comedy thriller film written and directed by Merlapaka Gandhi.
      Produced by V. Vamsi Krishna Reddy and Pramod
    </div>
    <p><small>Last Updated: 20 September 2019, 06:28PM</small></p>
  </div>
  <div>
    <div><a routerLink="/pedia/detail">Ram Mohan Roy</a></div>
    <div>
      Raja Ram Mohan Roy (22 May 1772 – 27 September 1833) was one of the founders of the Brahmo Sabha, the precursor of
      the Brahmo Samaj, a social-religious
    </div>
    <p><small>Last Updated: 23 January 2020, 06:28PM</small></p>
  </div>
  <div>
    <div><a routerLink="/pedia/detail">Ram Mohan Roy</a></div>
    <div>
      Raja Ram Mohan Roy (22 May 1772 – 27 September 1833) was one of the founders of the Brahmo Sabha, the precursor of
      the Brahmo Samaj, a social-religious
    </div>
    <p><small>Last Updated: 23 January 2020, 06:28PM</small></p>
  </div>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
