<div class="container-fluid">
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-10">
                <div class="page-header-title">
                    <i class="far fa-newspaper bg-blue"></i>
                    <div class="d-inline">
                        <h5 data-i18n="articles"></h5>
                        <span>Search & Create Articles</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <a href="#/articles/create" class="btn btn-primary pb-2 float-right">
                    <i class="fas fa-plus-circle"></i> Create Article
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12 pl-0 pr-0">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4>History Of India</h4>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <img class="img-thumbnail"
                                     src="https://m.media-amazon.com/images/I/51D2GexxHYL.jpg"/>
                            </div>
                            <div class="col-9 pr-0">
                                <p class="card-text">According to consensus in modern genetics, anatomically modern
                                    humans
                                    first
                                    arrived on the Indian subcontinent from Africa between 73,000 and 55,000 years
                                    agoarrived on the Indian subcontinent from Africa between 73,000 and 55,000 years
                                    agoarrived on the Indian subcontinent from Africa between 73,000 and 55,000 years
                                    ago</p>
                            </div>
                        </div>
                        <div class="float-left">
                            <small><b>Updated at 12/12/2020 01:30 AM</b></small>
                        </div>
                        <div class="float-right">

                            <a class="badge badge-pill badge-primary mb-1" href="#/articles/detail">
                                <i class="fas fa-book-open"></i> Read Now
                            </a>
                            <a href="#" class="badge badge-pill badge-secondary mb-1" data-toggle="modal"
                               data-target="#previewModal">
                                <i class="fas fa-eye"></i> Quick View
                            </a>
                            <a href="#" class="badge badge-pill badge-danger mb-1">
                                <i class="fas fa-external-link-alt"></i> Cancel Publish
                            </a>
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col text-left pl-0">
                                    <h6>4 <i class="far fa-thumbs-up pointer"></i></h6>
                                </div>
                                <div class="col text-center">
                                    <h6>4 <i class="far fa-comment-alt pointer"></i></h6>
                                </div>
                                <div class="col text-right">
                                    <h6>10 <i class="far fa-share-square pointer"></i></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4>History Of India</h4>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <img class="img-thumbnail"
                                     src="https://m.media-amazon.com/images/I/51D2GexxHYL.jpg"/>
                            </div>
                            <div class="col-9 pr-0">
                                <p class="card-text">According to consensus in modern genetics, anatomically modern
                                    humans
                                    first
                                    arrived on the Indian subcontinent from Africa between 73,000 and 55,000 years
                                    agoarrived on the Indian subcontinent from Africa between 73,000 and 55,000 years
                                    agoarrived on the Indian subcontinent from Africa between 73,000 and 55,000 years
                                    ago</p>
                            </div>
                        </div>
                        <div class="float-left">
                            <small><b>Updated at 12/12/2020 01:30 AM</b></small>
                        </div>
                        <div class="float-right">

                            <a class="badge badge-pill badge-primary mb-1" href="#/articles/detail">
                                <i class="fas fa-book-open"></i> Read Now
                            </a>
                            <a href="#" class="badge badge-pill badge-secondary mb-1" data-toggle="modal"
                               data-target="#previewModal">
                                <i class="fas fa-eye"></i> Quick View
                            </a>
                            <a href="#" class="badge badge-pill badge-danger mb-1">
                                <i class="fas fa-external-link-alt"></i> Cancel Publish
                            </a>
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col text-left pl-0">
                                    <h6>4 <i class="far fa-thumbs-up pointer"></i></h6>
                                </div>
                                <div class="col text-center">
                                    <h6>4 <i class="far fa-comment-alt pointer"></i></h6>
                                </div>
                                <div class="col text-right">
                                    <h6>10 <i class="far fa-share-square pointer"></i></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4>History Of India</h4>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <img class="img-thumbnail"
                                     src="https://m.media-amazon.com/images/I/51D2GexxHYL.jpg"/>
                            </div>
                            <div class="col-9 pr-0">
                                <p class="card-text">According to consensus in modern genetics, anatomically modern
                                    humans
                                    first
                                    arrived on the Indian subcontinent from Africa between 73,000 and 55,000 years
                                    agoarrived on the Indian subcontinent from Africa between 73,000 and 55,000 years
                                    agoarrived on the Indian subcontinent from Africa between 73,000 and 55,000 years
                                    ago</p>
                            </div>
                        </div>
                        <div class="float-left">
                            <small><b>Updated at 12/12/2020 01:30 AM</b></small>
                        </div>
                        <div class="float-right">

                            <a class="badge badge-pill badge-primary mb-1" href="#/articles/detail">
                                <i class="fas fa-book-open"></i> Read Now
                            </a>
                            <a href="#" class="badge badge-pill badge-secondary mb-1" data-toggle="modal"
                               data-target="#previewModal">
                                <i class="fas fa-eye"></i> Quick View
                            </a>
                            <a href="#" class="badge badge-pill badge-danger mb-1">
                                <i class="fas fa-external-link-alt"></i> Cancel Publish
                            </a>
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col text-left pl-0">
                                    <h6>4 <i class="far fa-thumbs-up pointer"></i></h6>
                                </div>
                                <div class="col text-center">
                                    <h6>4 <i class="far fa-comment-alt pointer"></i></h6>
                                </div>
                                <div class="col text-right">
                                    <h6>10 <i class="far fa-share-square pointer"></i></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>