<div class="row">
  <div class="col-sm-12 col-md-6">
    <h4><i class="fa fa-pencil-square-o"></i> Write Pedia</h4>
  </div>
  <div class="col-sm-12 col-md-6">
    <button type="button" class="btn btn-primary btn-sm pull-right"><i class="fa fa-upload"></i> Upload
      Document</button>
  </div>

</div>

<div>
  <form [formGroup]="addPediaForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control form-control-sm" formControlName="title" placeholder="Title">
          <div *ngIf="submitted && f.title.errors" class="text-danger">
            <div *ngIf="f.title.errors.required">Title is required</div>
            <div *ngIf="f.title.errors.minlength">Minimum 10 characters required </div>
          </div>
        </div>
        <div class="form-group">
          <div><label for="category">Category</label><small> +<a href="javascript:void(0);"
                (click)="displayCreateCatModal = true" class="underline">Add Category</a></small>
          </div>
          <p-dropdown formControlName="category" [options]="categories" [style]="{'width':'100%'}"
            placeholder="Select Category" [filter]="true"></p-dropdown>
        </div>
        <div *ngIf="submitted && f.category.errors" class="text-danger">
          <div *ngIf="f.category.errors.required">Category is required</div>
        </div>
      </div>
      <div class="col-sm-12 col-md-9">
        <div class="form-group m-0">
          <label for="content">Content</label>
          <p-editor formControlName="content" [style]="{'height':'400px'}" class="form-control-sm"></p-editor>
          <div *ngIf="submitted && f.content.errors" class="text-danger">
            <div *ngIf="f.content.errors.required">Content is required</div>
            <div *ngIf="f.content.errors.minlength">Minimum 500 characters required </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-floppy-o"></i>
        Create Pedia</button>
    </div>
  </form>
</div>

<p-dialog [(visible)]="displayCreateCatModal" [modal]="true" [style]="{width: '25vw'}">
  <p-header>
    Create Category
  </p-header>
  <div>
    <form [formGroup]="createCatForm" (ngSubmit)="createCategory()">
      <div class="form-group">
        <label for="label">Category Name</label>
        <input type="text" class="form-control form-control-sm" formControlName="catValue" id="catValue"
          placeholder="Category Name">
      </div>
      <div *ngIf="categoryFormSubmitted && ccf.catValue.errors" class="text-danger">
        <div *ngIf="ccf.catValue.errors.required">Category is required</div>
        <div *ngIf="ccf.catValue.errors.minlength">Minimum 5 characters required</div>
      </div>
      <div class="text-right">
        <button class="btn btn-secondary btn-sm" (click)="displayCreateCatModal = false"><i class="fa fa-times"></i>
          Cancel</button>
        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-floppy"></i> Create
          Category</button>
      </div>
    </form>
  </div>

</p-dialog>
