{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tamilpedia</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CMuli:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'lib/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'lib/css/gijgo.tree.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'lib/css/summernote-bs4.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'lib/css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'lib/css/app.css' %}">

    <script data-main="{% static 'js/main' %}" src="{% static 'node_modules/requirejs/require.js' %}"></script>
</head>
<body>
<div id="mainContent"></div>
</body>
</html>