<div class="col-sm-12">
  <h5>Raja Raja Choza</h5>
  <div class="row">
    <div class="col-sm-9">
      Rajaraja I, born Arulmoḷi Varman[3][4] (also transliterated as Arulmozhi Varman[5]), was a Chola emperor from
      present
      day south India who ruled over the Chola kingdom of medieval Tamil Nadu (parts of southern India), parts of
      northern
      India, two thirds of Sri Lankan territory, Maldives and parts of East Asia, between 985 and 1014 CE. During his
      reign,
      the Cholas expanded beyond the Kaveri delta[6][7] with their domains stretching from Sri Lanka in the south to
      Kalinga
      (modern-day Odisha) in the north. Rajaraja also launched several naval campaigns on the ports of Malabar Coast
      (Kerala), Maldives and Sri Lanka.[8][9]

      Rajaraja built the Brihadisvara Temple or Peruvudaiyar Kovil in Thanjavur, one of the largest Hindu temples.[10]
      During his reign, the texts of the Tamil poets Appar, Sambandar and Sundarar were collected and edited into one
      compilation called Thirumurai.[7][11] He initiated a massive project of land survey and assessment in 1000 CE
      which
      led to the reorganisation of the country into individual units known as valanadus.[12][13] Rajaraja died in 1014
      CE
      and was succeeded by his son Rajendra Chola I.
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRo_vZaKQJay7MRV8Ho5uw4ACahjiZpdRxpqZ7R3DVN7UtTa53w"
          class="card-img-top">
        <div class="card-body">
          <div>
            <label class="form-check-label col-sm-5">Reign</label>
            <label class="form-check-label pull-right col-sm-7">BC. 985 – BC. 1014</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Name</label>
            <label class="form-check-label pull-right col-sm-7">Rajendra Chola I</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Original Name</label>
            <label class="form-check-label pull-right col-sm-7">Uttama Chola</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Born</label>
            <label class="form-check-label pull-right col-sm-7">Arulmoḷi Varman BC. 947</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Died</label>
            <label class="form-check-label pull-right col-sm-7">1014 (aged 66–67)</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Dynasty</label>
            <label class="form-check-label pull-right col-sm-7">Chola Dynasty</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Father</label>
            <label class="form-check-label pull-right col-sm-7">Sundara Chola</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Mother</label>
            <label class="form-check-label pull-right col-sm-7">Vanavanmahadevi</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Religion</label>
            <label class="form-check-label pull-right col-sm-7">Uttama Chola</label>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div>
  &nbsp;
</div>
