<div class="col-sm-12">
  <h5>{{pediaDetail.title}}</h5>
  <div class="row">
    <div class="col-sm-9" [innerHTML]="pediaDetail.content">

    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRo_vZaKQJay7MRV8Ho5uw4ACahjiZpdRxpqZ7R3DVN7UtTa53w"
          class="card-img-top">
        <div class="card-body">
          <div>
            <label class="form-check-label col-sm-5">Reign</label>
            <label class="form-check-label pull-right col-sm-7">BC. 985 – BC. 1014</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Name</label>
            <label class="form-check-label pull-right col-sm-7">Rajendra Chola I</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Original Name</label>
            <label class="form-check-label pull-right col-sm-7">Uttama Chola</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Born</label>
            <label class="form-check-label pull-right col-sm-7">Arulmoḷi Varman BC. 947</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Died</label>
            <label class="form-check-label pull-right col-sm-7">1014 (aged 66–67)</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Dynasty</label>
            <label class="form-check-label pull-right col-sm-7">Chola Dynasty</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Father</label>
            <label class="form-check-label pull-right col-sm-7">Sundara Chola</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Mother</label>
            <label class="form-check-label pull-right col-sm-7">Vanavanmahadevi</label>
          </div>
          <div>
            <label class="form-check-label col-sm-5">Religion</label>
            <label class="form-check-label pull-right col-sm-7">Uttama Chola</label>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div>
  &nbsp;
</div>
