/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.bg-primary {
  background-color: #0f6bce !important;
}

body .ui-tree {
  border: 0px !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}

#profileMenu .dropdown-menu {
  left: -7rem;
  min-width: 12rem;
}


.btn {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
  cursor: pointer;
}